:root {
  --clr1: rgb(0, 179, 0);
}
body {
  background-color: rgba(0, 179, 167, 0.233);
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4;
  overflow-x: hidden;
}
h1 {
  text-align: center;
  font-size: 3.2rem;
  margin: 0;
  padding-top: 2rem;
}
h1 span{
  position: relative;
  top: 0;
  transition: all .2s ease;
}
h1 span:hover {
  top: 8px;
}
.char1, .char5 {
  color: rgb(255, 0, 0);
  text-shadow: rgb(151, 0, 0) -2.25px 2.25px 0;
}
.char2, .char6, .char9 {
  color: var(--clr1);
  text-shadow: rgb(0, 126, 0) -2.25px 2.25px 0;
}
.char3, .char7, .char10 {
  color: rgb(0, 132, 255);
  text-shadow: rgb(0, 81, 156) -2.25px 2.25px 0;
}
.char4, .char8{
  color: #E6C92E;
  text-shadow: #ac9722 -2.25px 2.25px 0;
}

.grid {
  display: grid;
  width: 95%;
  margin: 2rem auto;
  gap: .5rem;
}
.card {
  display: flex;
  align-items: center;
  background-color: var(--clr1);
  height: 175px;
  transition: all .2s ease;
}
@media (min-width: 1024px) {
  .grid {
    width: 70%;
    gap: .8rem;
  }
  .card {
    height: 250px;
  }
}
.card p {
  display: none;
  justify-content: center;
  width: 100%;
  height: 95%;
}
.card:hover {
  transform: translate(5px,-5px);
  box-shadow: -5px 5px 0px 0px rgb(0, 126, 0);
}
img {
  height: 80%;
  align-self: center;
  width: auto;
}
@media (min-width: 768px) {
  img {
    height: 85%;
  }
}

.sdm {
  position: fixed;
  z-index: 5;
  display: flex;
  top: .8rem;
  left: .8rem;
  background-color: var(--clr1);
  padding: .4rem;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid rgb(0, 255, 0);
  justify-content: center;
  cursor: pointer;
  transition: all .2s ease;
}
.sdm:hover {
  box-shadow: -2px 2px 0px 0px rgb(0, 126, 0);
}
.con {
  display: none;
}
.sdm input {
  align-self: center;
  background-color: rgba(255, 255, 255, 0.596);
  outline: none;
  border: 3px solid #fff;
  font-weight: bold;
  font-size: 1.8rem;
  height: 70%;
  transition: all .2s ease;
}
.sdm span {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  align-self: center;
  transition: all .2s ease;
}
.sdm span::selection {background-color: transparent;}

.clr{
  display: flex;
  align-items: center;
  align-self: center;
  padding: 0 .8rem;
  margin: 0.7rem;
  height: 100%;
}
.clr p {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  border: 2.5px solid #fff;
  height: 20px;
  width: 10px;
  padding: .2rem .8rem;
}
#clr0::after{
  content: '-';
  position: absolute;
  left: 14px;
  top: -10px;
}
#clr0{
  border-right: 0;
  border-radius: 10px 0 0 10px;
}
#clr1::after{
  content: '+';
  position: absolute;
  top: -8.5px;
  left: 10px;
}
#clr1{
  border-radius: 0 10px 10px 0;
}
.clr p:hover{
  background-color: rgba(255, 255, 255, 0.288);
}
.clr p:active {
  background-color: rgba(255, 255, 255, 0.589);
}
.clr p::selection{
  background-color: transparent;
}
footer {
  width: 100%;
  background-color: rgb(0, 95, 0);
  color: #fff;
  text-align: center;
  margin: 6rem 0 0 0;
}
footer a {color: #fff;} 
footer a:hover {text-decoration: none;}